* {
    padding: 0px;
    margin: 0px;
    font-family: 'Skranji', cursive;
}

nav {
    display: flex;
    background-color: #086bff;
    flex-direction: row;
    padding: 1rem 10rem;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 40%;
    list-style-type: none;
    align-items: center;
}

li {
    text-decoration: none;
}

.languages {
    display: flex;
}

.Est {
    margin-right: 2rem;
    box-shadow:0px 10px 60px 3px black;  
}

.UK {
    box-shadow:0px 10px 60px 3px black;  
}

a:hover {
    color: #B6B6B6;
}

a:active {
    color: #B6B6B6;
}

body {
    background-image: url(/pictures/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    background: rgba(14, 20, 26, 0.5);
    font-size: 1.2rem;
    color: white;
    justify-content: center;
  }

.info {
    display: flex;
    height: 752px;
    width: 758px;
    margin-top: 0.5rem;
    border-radius: 30px;
    background: linear-gradient(180deg, #374bff 0%, 
    rgba(82, 161, 252, 0.385417) 39.03%, 
    rgba(0, 119, 255, 0) 100%);
}

.container {
    display: flex;
    justify-content: center;
}